th {
  text-align: left;
}

table {
  border-spacing: 5px;
}

body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: monospace;
  font-size: 12px;
}
